@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,500;1,300;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    transition: .2s;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-thumb {
    background: #36e2ec;
    border-radius: 8rem;
}

:root {
    --black-color: black;
    --white-color: white;
    --main-black: #121212;
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--main-black);
    display: grid;
    place-items: center;
    overflow: hidden;
}

header {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.menu-side {
    width: 25%;
    padding: 2rem 0;
    height: 90%;
    background: #111727;
    box-shadow: 5px 0px 2px #090f1f;
}

.song-side {
    width: 75%;
    height: 90%;
    overflow-y: auto;
    background: #0b1320;
}

.master_play {
    width: 100%;
    height: 10%;
    background: #111727;
    z-index: 3;

}

.song-side::-webkit-scrollbar {
    width: .8rem;
}

.song-side::-webkit-scrollbar-thumb {
    background: #36e2ec;
    border-radius: 8rem;
}

.playlist__text {
    display: flex;
    align-items: center;
}

.playlist__text i {
    margin-right: 2rem;
}


.menu-side h1 {
    font-size: 3rem;
    margin: 1rem 2rem;
    color: white;
    font-weight: 500;
}

.pop__song-music-chill {
    width: 100%;
    display: flex;
    height: 160px;
    scroll-behavior: smooth;
    overflow: auto;
    margin-top: 2rem;
}

.pop__song-music-chill .song__item-menu {
    min-width: 120px;
    height: 140px;
    margin-right: 1rem;
    border-radius: 4px;

}
.song__item-menu{
    position: relative;
}
.description-vip{
    position: absolute;
    top: 0;
    right: 0px;
}
.description-vip i{
    color: rgb(250, 57, 23);
    font-size: 2rem;
    background: rgb(238, 234, 9);
    padding: .5rem;
    border-bottom-left-radius: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 6px;
}
.noel-picture-image{
    position: absolute;
    top: -30px;
    left: -10px;
}
.noel-picture-image img{
    width: 50px;
    height: 50px;
  
}
.pop__song-music-chill::-webkit-scrollbar{
    width: .5rem;
    height: .5rem;
}
.pop__song-music-chill::-webkit-scrollbar-thumb{
    background: rgb(232, 52, 193);
    border-radius: 8rem;
}

.playlist {
    margin: 4rem 0 0 2rem;
    color: rgb(148, 143, 143);
    font-size: 2rem;
    align-items: center;
}

.playlist h4 {
    font-size: 2rem;
    margin: 1rem 0;
    font-weight: 200;
    cursor: pointer;
}

.playlist h4 i {
    margin-right: 2rem;
}

.font-color {
    color: #36e2ec !important;
}

.menu-songs {
    width: 100%;
    padding: 1rem;
    margin-top: 3rem;
    overflow-y: auto;
    height: 20%;
}

.menu__songs-list {
    overflow-y: auto;
    height: 100%;
    display: none;
}

.menu__songs-list::-webkit-scrollbar {
    width: .8rem;
}

.menu__songs-list::-webkit-scrollbar-thumb {
    background: #36e2ec;
    border-radius: 8rem;
}

.song__item {
    position: relative;
    margin: 1rem 0;
    display: flex;
    align-items: center;
    font-size: 1rem;
    border-radius: 6px;
    padding: 0 1rem;
    cursor: pointer;
    background: rgb(105, 105, 170, .0);
    text-transform: capitalize;
}
.wifi__connect .bx-wifi{
    color: greenyellow;
    font-size: 2.5rem;

}
.wifi__connect{
    display: none;
}
.how-songside-header{
    align-items: center;
}

/* .song__item:hover{
    background: rgb(105,105,170,.1);
} */


.song__item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.song__item span {
    color: white;
    font-size: 2rem;
    margin-right: 1rem;
}

.song__item h1 {
    font-size: 1.5rem;
    width: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.song__item i {
    font-size: 2.5rem;
    color: white;
    position: absolute;
    right: 0;
    cursor: pointer;
    margin-right: .5rem;
}

.sub__author {
    color: gray;
    font-size: 1.5rem !important;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-transform: capitalize;
}

.master_play {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    position: fixed;
    bottom: 0;
}

.wave {

    width: 30px;
    height: 30px;

    margin-right: 1.3rem;
    display: flex;
    align-items: flex-end;
    padding-bottom: .4rem;
}

.wave1 {
    width: 3px;
    height: 10px;
    background: #36e2ec;
    margin-right: .4rem;
    bottom: 0;
    animation: wave .5s infinite linear;
    animation-delay: .8s;
}

.wave1:nth-child(2) {
    height: 13px;
}

.wave1:nth-child(2) {
    height: 8px;
}

.wave1:nth-child(2) {
    height: 11px;
    animation-delay: .9s;
}

.wave1:nth-child(3) {
    height: 13px;
    animation-delay: .8s;
}

@keyframes wave {
    0% {
        height: 10px;
    }

    50% {
        height: 15px;
    }

    100% {
        height: 10px;
    }
}

.master_play img {
    width: 35px;
    height: 35px;
    margin-right: 1rem;
    border-radius: 50%;

}

.master_play img.active {
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.master_play h5 {
    width: 130px;
    font-size: 1.7rem;
    color: white;
    line-height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 200;
}

.subtitle {
    color: gray;
    font-size: 1.3rem;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.icons {
    font-size: 2.5rem;
    color: white;
    margin-left: 3rem;

    display: flex;
}

.icons i {
    margin-left: 1rem;
    cursor: pointer;
}

.icons a {
    color: white;
}

.master_play #currentStart {
    font-size: 1.5rem;
    color: white;
    margin-left: 6rem;
    width: 32px;
    font-weight: 400;
}

.bar {
    position: relative;
    width: 43%;
    height: 2px;
    background: rgb(236, 231, 231);
    margin: 0 1rem;
    align-items: center;
    display: flex;
    position: relative;
}

.bar2 {
    position: absolute;
    background: #36e2ec;
    width: 0%;
    height: 100%;
    top: 0;
}

.vol_bar {
    position: absolute;
    background: #36e2ec;
    width: 100%;
    height: 100%;
    top: 0;
}

.dot {
    position: absolute;
    width: 5px;
    height: 5px;
    background: #36e2ec;
    border-radius: 50%;
    left: 0;
    top: -1px;
}

.dot::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid #36e2ec;
    border-radius: 50%;
    top: -6px;
    left: -6px;
    box-shadow: inset 0px 0px 3px #36e2ec;
}

.dot1 {
    position: absolute;
    width: 5px;
    height: 5px;
    background: #36e2ec;
    border-radius: 50%;
    right: 0;
    top: -1px;
}

.dot1::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid #36e2ec;
    border-radius: 50%;
    top: -6px;
    left: -6px;
    box-shadow: inset 0px 0px 3px #36e2ec;
}

.playIconSong {
    cursor: pointer;
}

.bar input {
    position: absolute;
    width: 100%;
    top: -6px;
    left: 0;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
}

#currentEnd {
    font-size: 1.5rem;
    color: white;
}

.vol {
    position: relative;
    width: 100px;
    height: 2px;
    background: black;
    margin-left: 16rem;
    align-items: center;
    display: flex;


}

.vol i {
    margin-right: 3rem;
    font-size: 2rem;
    color: white;
    position: absolute;
    left: -3rem;
}

.vol input {
    position: absolute;
    width: 100%;
    top: -6px;
    left: 0;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
}


.song-side {
    z-index: 2;
}

/* .song-side::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 300px;
    background: url('/image/bg.png');
    z-index: -1;
} */
.song-side nav {
    width: 100%;
    /* height: 10%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 7%;
}

.song-side nav ul {
    display: flex;

}

.song-side nav ul li {
    position: relative;
    font-size: 2rem;
    color: gray;
    margin-right: 1.3rem;
    cursor: pointer;
}

.song-side nav ul li:hover {
    color: white;
}

.song-side nav ul li:nth-child(1) {
    color: #36e2ec;
}

.song-side nav ul li span {
    position: absolute;
    width: 100%;
    background: #36e2ec;
    height: 2px;
    left: 0;
    bottom: 0;
}

.search {
    align-items: center;
    background: rgba(184, 184, 184, .1);
    padding: .5rem 1rem;
    border-radius: 6px;
    font-size: 2rem;
    display: flex;
    color: white;
    margin-right: 1rem;
    position: relative;
}

.search_result {
    position: absolute;
    width: 100%;
    /* background: #111727; */
    height: 200px;
    top: 33px;
    border-radius: 6px;
    left: 0;
    z-index: 10;
    overflow-x: hidden;
    overflow-y: auto;

}

.search_result::-webkit-scrollbar {
    display: none;
}

.cart__search {
    width: 100%;
    height: 25%;
    border-radius: 6px;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    margin-bottom: 7px;
    display: none;
}

.cart__search img {
    width: 35px;
    height: 35px;
    margin: 0 1rem;
    border-radius: 6px;
}

.content__search {
    width: 90%;
}

.content__search h1 {
    font-size: 1.7rem;
    color: white;
    text-transform: capitalize;
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 1px solid white;
}

.content__search .sub__author {
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.search input {
    background: none;
    color: white;
    padding-right: 1rem;
}

.search i {
    cursor: pointer;
}

.user {
    width: 35px;
    height: 35px;

}

.user img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
}
.image__noel--setting{
    position: absolute;
    top: -20px;
    right: -8px;
    width: 35px;
    height: 40px;
    display: none;
}

.box__menu {
    display: flex;
    align-items: center;
}
.content {
    padding: 2rem 7%;
    width: 100%;
}

.content h1 {
    font-size: 2rem;
    color: greenyellow;
    font-weight: 600;
}

.content p {
    color: rgb(209, 203, 203);
    font-size: 1.5rem;
    font-weight: 400;
    margin: 1rem 0;
    text-align: justify;
}

.buttons {
    margin-top: 1rem;
}

.buttons button {

    width: 130px;
    height: 30px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    margin-right: 1rem;
}

.buttons button:nth-child(1):hover,
.buttons button:nth-child(2):hover {
    background: none;
    color: #36e2ec;

}


.buttons button:nth-child(1) {
    background: #5ade;
    border: 2px solid #36e2ec;
    box-shadow: 0 0 5px #1cdbe9, 0 0 5px #1da4da inset;
}

.buttons a button {
    background: rgba(247, 244, 63, 0.933) !important;
    color: black !important;
    border: 2px solid #ece250  !important;
    box-shadow: 0 0 5px #eedc3d, 0 0 5px #e7d63b inset  !important;
}

.popular__song {
    padding: 2rem 7%;
}

.h4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu__song-list__text-font{
    color: yellow;
    font-size: 2rem;
    text-align: center;
}
.menu__songs-list.font-color{
    display: block;
}
.h4 h4 {
    font-size: 2rem;
    color: white;
}

.h4 .btn i {
    font-size: 2.5rem;
    color: white;
    cursor: pointer;
}

.pop__song {
    width: 100%;
    display: flex;
    height: 160px;
    scroll-behavior: smooth;
    overflow: auto;
    margin-top: 2rem;
}

.pop__song-music {
    width: 100%;
    display: flex;
    height: 160px;
    scroll-behavior: smooth;
    overflow: auto;
    margin-top: 2rem;
}

.pop__song::-webkit-scrollbar {
    width: .5rem;
    height: .5rem;
    cursor: pointer;
}

.pop__song-music::-webkit-scrollbar {
    width: .5rem;
    height: .5rem;
    cursor: pointer;
}

.pop__song::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: #6aec36;
    border-radius: 8rem;
}

.pop__song-music::-webkit-scrollbar-thumb {
    background: #36e2ec;
    border-radius: 8rem;
}

.pop__song-music-world {
    display: flex;
    overflow-x: auto;
    padding: 2rem 0;
}

.pop__song-music-world::-webkit-scrollbar {
    width: .5rem;
    height: .5rem;
    cursor: pointer;

}

.pop__song-music-world::-webkit-scrollbar-thumb {
    background: #ed7f11;
    border-radius: 8rem;

}

.pop__song-music-world .song__item-menu {
    min-width: 120px;
    height: 140px;
    margin-right: 1rem;
    border-radius: 4px;
}

.pop__song .song__item-menu {
    min-width: 120px;
    height: 140px;
    margin-right: 1rem;
    border-radius: 4px;
}

.pop__song-music .song__item-menu {
    min-width: 120px;
    height: 140px;
    margin-right: 1rem;
    border-radius: 4px;
}

.pop__song .song__item-menu:hover {
    background: rgb(105, 105, 170, .1);
    opacity: 1;
}

.song__item-menu h1 {
    width: 100px;
    text-transform: capitalize;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.img__play {
    position: relative;
    width: 120px;
    height: 100px;
    display: block;
    align-items: center;
    justify-content: center;
}

.img__play img {
    width: 100%;
    height: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 6px;
}

.song__item-menu h1 {
    font-size: 1.5rem;
    color: white;
    margin-top: .8rem;
    text-align: center;
    width: 120px;
    overflow: hidden;
}

.song__item-menu h1 div {
    font-size: 1rem;
    text-align: center;
}

.img__play i {
    font-size: 4rem;
    color: white;
    position: absolute;
    left: 39%;
    top: 39%;
    opacity: 0;
}

.song__item-menu:hover i {
    opacity: 1;
}

.popular__artists {
    padding: 2rem 7%;
    width: 100%;
    overflow: hidden;
}

.artists__song {
    width: 100%;
    display: flex;
    height: 120px;
    scroll-behavior: smooth;
    overflow: auto;
    margin: 2rem 0 3rem 0;
}

.artists__song::-webkit-scrollbar {
    width: .5rem;
    height: .5rem;
}


.artists__song::-webkit-scrollbar-thumb {
    background: #dceb17;
    border-radius: 8rem;
}

.artists__song li {
    margin-right: 1rem;
}

.bxs-grid {
    display: none;
}

.menu-box-text h1 i {
    font-size: 3rem;
    color: yellow;
}

.setting {
    display: none;
}

.song-side {
    position: fixed;
    right: 0;
}

.popup__shuffle {
    position: fixed;
    width: 100px;
    right: -50%;
    top: 75%;
    background: #111727;
    text-align: center;
    align-items: center;
    z-index: 20;
    padding: 1rem 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    color: rgb(236, 235, 234);
}

.popup__shuffle.active {
    right: 0%;
}

.user {
    position: relative;
}

.user__setting {
    position: absolute;
    color: white;
    background: rgb(60, 59, 59);
    right: -2rem;
    border-radius: 6px;
    margin-top: .7rem;
    width: 170px;
    z-index: 11;
    display: none;
  
}

.user__setting.active {
    display: block;
}

.user__setting::before {
    content: '';
    background: rgb(60, 59, 59);
    position: absolute;
    top: -.7rem;
    width: 15px;
    height: 15px;
    right: 2.7rem;
    box-shadow: 0 0 5px #666464, 0 0 5px #5a5959 inset;
    clip-path: polygon(50% 0%, 100% 50%, 49% 50%, 0% 50%);
}

.user__setting-music {
    display: flex;
    margin: 1rem;
    padding: .7rem 1rem;
    align-items: center;
    cursor: pointer;
    transition: .2s;
    color: white;
}

.user__setting-music:hover {
    background: lightskyblue;
    color: black;
}

.user__setting-music i {
    margin-right: 1.2rem;
    font-size: 2.5rem;
}

.user__setting-music h1 {
    font-size: 1.3rem;
}

.bxs-user-detail {
    color: rgb(235, 57, 196);
}

.bxs-user {
    color: greenyellow;
}

.bx-fullscreen {
    color: yellow;
}

.bxs-color {
    color: #e9971c;
}

.form__login {
    width: 40%;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: auto;
}

.form__content {
    width: 80%;
    overflow-y: scroll;
    height: auto;
    margin: auto;
    background: rgb(38, 37, 39);
    box-shadow: 0 0 5px #666464, 0 0 5px #5a5959 inset;
    padding: 2rem 7%;
}

.form__sub--content h3 {
    text-align: center;
    color: rgb(231, 71, 71);
    margin: 1rem 0;
    font-size: 3rem;
}

.form__card {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 2rem;
    font-size: 2rem;
    color: white;
}

.form__card input {
    width: 100%;
    padding: 1rem 2rem;
}

.form__submit {
    margin-top: 3rem;
    padding: .6rem 2rem;
    font-size: 2rem;
    width: 100%;
    text-align: center;
    color: white;
    background: black;
    cursor: pointer;
}

.form__checkbox {
    margin-top: 2rem;
    font-size: 2rem;
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.form__checkbox input {
    margin-right: 1rem;
}

.form__sub--content p {
    margin-top: 5rem;
    text-align: justify;
    font-size: 2rem;
    color: white;
}

.form__sub--content p a {
    color: rgb(235, 206, 43);
    text-decoruser__settingation: underline;
}

.form__notify {
    background: lightgreen;
    position: fixed;
    right: 0;
    top: 10rem;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}

.form__notify h3 {
    padding: 1rem 2rem;
    font-size: 2rem;
}

.setting__color {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 100;
    display: none;
    top: 0;
    left: 0;
}

.setting__color.active {
    display: block;
}

.setting__color--close {
    position: absolute;
    right: 0;
    font-size: 3.4rem;
    color: white;
    font-weight: 600;
    padding: .5rem 1.3rem;
    cursor: pointer;
    top: 0;
    background: red;
}

.form__setting--color {
    width: 90%;
    height: 100%;
    margin: auto;
    padding: 2rem 7%;
    overflow-x: hidden;
    overflow-y: auto;
}

.form__setting--color h1 {
    font-size: 2.5rem;
    color: rgb(62, 233, 27);
}

.form__color-text h1 {
    margin-top: 5rem;
    color: white;
    font-weight: 200;
}

.form__change-color {
    display: inline;
    margin: 2rem 0;
    
}
.form__color-text{
    overflow-x: hidden;
}
.form__change-color div {
    margin: 1rem;
    padding: .5rem 1rem;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: inline-flex;
    cursor: pointer;
}
.change--background--noel{
    width: 90%;
    height: 120px;
    margin-top: 5px;
    display: flex;
    overflow-x: scroll;
    
}
.change--background--tet{
    width: 90%;
    height: 120px;
    margin-top: 5px;
    display: flex;
    overflow-x: scroll;
}
.change--background--tet img{
    width: 200px;
    height: 100px;
    border-radius: 6px;
    margin-right: 6px;
    }
/* .change--background--tet::-webkit-scrollbar{
    width: 5px;
    height: 3px;
}
.change--background--tet::-webkit-scrollbar-thumb{
    background: rgb(77, 255, 0);
    border-radius: 6px;
}
.change--background--noel::-webkit-scrollbar{
    width: 5px;
    height: 3px;
}
.change--background--noel::-webkit-scrollbar-thumb{
    background: yellow;
    border-radius: 6px;
} */
.change--background--noel img{
    width: 200px;
    height: 100px;
    border-radius: 6px;
    margin-right: 6px;
    }
.form__change-color div:nth-child(1) {
    background: white;
}

.form__change-color div:nth-child(2) {
    background: rgb(43, 175, 228);
}

.form__change-color div:nth-child(3) {
    background: rgb(238, 61, 61);
}

.form__change-color div:nth-child(4) {
    background: rgb(67, 170, 72);
}

.form__change-color div:nth-child(5) {
    background: rgb(248, 61, 148);
}

.form__change-color div:nth-child(6) {
    background: rgb(221, 192, 26);
}

.form__change-color div:nth-child(7) {
    background: #0b1320;
    position: relative;
}

.changecolor-default::before {
    content: '';
    background: greenyellow;
    width: 10px;
    height: 10px;
    top: 0;
    right: 0;
    position: absolute;
    clip-path: polygon(100% 90%, 0 0, 100% 0);
    border-top-right-radius: 5px;
}

.form__setting--color--text {
    display: flex;
    align-items: center;
}

.form__setting--color--text i {
    margin-right: 1rem;
    font-size: 3rem;
    color: rgb(62, 233, 27);
}
.show-songside-header{
    display: none;
}

.clock {
    color: #44f314;
    font-size:1.5rem;
    font-family:sans-serif;
    margin: 1rem 0;
}
.loading{
    text-align: center;
}
.loading span {
    display: inline-block;
    vertical-align: middle;
    width: 1rem;
    height: 1rem;
    margin: 1rem;
    background: #007DB6;
    border-radius: .6em;
    animation: loading 1s infinite alternate;
  }
  
  /*
   * Dots Colors
   * Smarter targeting vs nth-of-type?
   */
  .loading span:nth-of-type(2) {
    background: #d4c306;
    animation-delay: 0.2s;
  }
  .loading span:nth-of-type(3) {
    background: #d17805;
    animation-delay: 0.4s;
  }
  .loading span:nth-of-type(4) {
    background: #00A77D;
    animation-delay: 0.6s;
  }
  .loading span:nth-of-type(5) {
    background: #00B247;
    animation-delay: 0.8s;
  }
  .loading span:nth-of-type(6) {
    background: #de1414;
    animation-delay: 1.0s;
  }
  .loading span:nth-of-type(7) {
    background: #A0B61E;
    animation-delay: 1.2s;
  }
  
  @keyframes loading {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .loadings {
    background: #16171d;
    opacity: 0.9;
    position: relative;
    text-align: center;
    margin-top: 2rem;
  }
  
  .loadings > div {
    width: 60px;
    height: 60px;
    position: absolute;
    transform: translateX(50%);
    left: 25%;
  }
  
  
  .loadings > div > div {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    background: #92ea5b;
    top: 10px;
    left: 10px;
    transform-origin: 20px 20px;
    border-radius: 8px;
    animation: spin-a 2s infinite cubic-bezier(0.5, 0, 0.5, 1);
  }

  
  .loadings > div > .c2 {
    top: 10px;
    left: auto;
    right: 10px;
    transform-origin: -4px 20px;
    animation: spin-b 2s infinite cubic-bezier(0.5, 0, 0.5, 1);
  }
  .loadings > div > .c3 {
    top: auto;
    left: auto;
    right: 10px;
    bottom: 10px;
    transform-origin: -4px -4px;
    animation: spin-c 2s infinite cubic-bezier(0.5, 0, 0.5, 1);
  }
  .loadings > div > .c4 {
    top: auto;
    bottom: 10px;
    transform-origin: 20px -4px;
    animation: spin-d 2s infinite cubic-bezier(0.5, 0, 0.5, 1);
  }
  
  @keyframes spin-a {
    0%   { transform: rotate(90deg); }
    0%  { transform: rotate(90deg); }
    50%  { transform: rotate(180deg); }
    75%  { transform: rotate(270deg); }
    100% { transform: rotate(360deg); }
  }
  @keyframes spin-b {
    0%   { transform: rotate(90deg); }
    25%  { transform: rotate(90deg); }
    25%  { transform: rotate(180deg); }
    75%  { transform: rotate(270deg); }
    100% { transform: rotate(360deg); }
  }
  @keyframes spin-c {
    0%   { transform: rotate(90deg); }
    25%  { transform: rotate(90deg); }
    50%  { transform: rotate(180deg); }
    50%  { transform: rotate(270deg); }
    100% { transform: rotate(360deg); }
  }
  @keyframes spin-d {
    0%   { transform: rotate(90deg); }
    25%  { transform: rotate(90deg); }
    50%  { transform: rotate(180deg); }
    75%  { transform: rotate(270deg); }
    75% { transform: rotate(360deg); }
    100% { transform: rotate(360deg); }
  }
  







@media (max-width:991px) {
    html {
        font-size: 60%;
    }

    .song-side {
        position: fixed;
        right: 0;
    }

    .form__login {
        width: 50%;
    }
}

@media (max-width:768px) {
    html {
        font-size: 55%;
    }

    .song-side nav ul {
        display: none;
    }

    .bxs-grid {
        display: block;
        font-size: 3rem;
        color: white;
        cursor: pointer;
    }

    .menu-side {
        left: 0;
        display: none;
        transform-origin: left;
        position: absolute;
        z-index: 10;
        width: 50%;
    }

    .menu-side.active {
        display: block;
    }

    .menu-songs {
        height: 70%;
    }

    .menu-songs {
        height: 50%;
    }



    .song-side {
        width: 100%;
    }

    .master_play {
        z-index: 11;
    }

    .menu-box-text {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu-box-text i {
        font-size: 4rem;
        color: red;
        margin-right: 1rem;
    }

    .icons {
        margin-left: .5rem;

    }

    .vol {
        margin-left: 4rem;
    }

    .master_play #currentStart {
        margin-left: 1.5rem;
    }

    .bar {
        width: 100%;
    }

    .form__login {
        width: 68%;
    }
    .show-songside-header{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 20;
        display: block;
        background: #0b1320;
    }
    .active-padding-content{
        margin-top: 7rem;
        display: block;
    }
    .change--background--noel{
        width: 400px;
    }
}




@media (max-width:480px) {
    html {
        font-size: 50%;
    }

    .menu-side {
        display: none;
    }

    .song-side {
        width: 100%;
    }

    .menu-side {
        left: 0;
        display: none;
        transform-origin: left;
        position: absolute;
        z-index: 10;
        width: 80%;
    }

    .icons {
        position: absolute;
        padding: .7rem 7%;
        text-align: center;
        top: -4vh;
        background: #111727;
        transform: translateX(-50%);
        margin-left: 50%;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;


    }

    .master_play #currentStart {
        margin-left: 2.5rem;
    }

    .bar {
        width: 100%;
    }

    .vol {
        margin-left: 5rem;
    }

    .menu-songs {
        height: 60%;
    }

    .user {
        width: 27px;
        height: 27px;
    }

    .buttons button {
        width: 30%;
    }

    .playlist h4 {
        font-size: 2rem;
    }

    .song-side::-webkit-scrollbar {
        display: none;
    }

    .song-side::-webkit-scrollbar-thumb {
        display: none;
    }

    .playlist {
        margin: 1rem 7% 0 7%;
    }

    .menu-songs {
        margin-top: 1rem;
    }

    .user__setting {
        width: 138px;
    }

    .form__login {
        width: 100%;
    }

    .setting__color--close {
        font-size: 3rem;
    }
    .playlist h4{
        font-size: 1.7rem;
    }
    .menu-box-text-h1{
        font-size: 2.4rem !important;
    }
    .menu__song-list__text-font{
        font-size: 1.7rem;
    }
    .change--background--noel{
        width: 300px;
    }
    .change--background--tet{
        width: 300px;
    }
    .form__color-text h1{
        font-size: 1.7rem;
    }
    .form__setting--color--text h1{
        font-size: 2rem;
    }
    .h4 h4{
        font-size: 1.8rem;
    }
    .wifi__connect{
        display: block;
    }
}